.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
*.Rproj
*.html

Data/**
!Data/.gitkeep 

Outputs/**
!Outputs/.gitkeep

!Outputs/Resource_Dilution
!Outputs/Resource_Dilution/.gitkeep
!Outputs/Resource_Dilution/Logs
!Outputs/Resource_Dilution/Logs/.gitkeep 

!Outputs/Cluster_Reshuffling
!Outputs/Cluster_Reshuffling/.gitkeep
!Outputs/Cluster_Reshuffling/Logs
!Outputs/Cluster_Reshuffling/Logs/.gitkeep 

omnipathr-log/
filtered_gene_bc_matrices/hg19/barcodes.tsv
filtered_gene_bc_matrices/hg19/genes.tsv
filtered_gene_bc_matrices/hg19/matrix.mtx
